openapi: 3.2.0
info:
  title: Transmit Message Webhook API
  description: Transmit APIs
  version: '20250101'
  x-go-package: github.com/oapi-codegen/runtime
servers:
- url: https://api.transmitmessage.com
security:
- ApiKeyAuth: []
tags:
- name: Webhook
  description: Our webhooks API allows you to subscribe to events for SMS, MMS, and RCS messages.
paths:
  /v2/webhook:
    post:
      tags:
      - Webhook
      summary: Create Webhook
      security:
      - ApiKeyAuth: []
      description: We use webhooks to let your application know when events happen, such as receiving an SMS message. When the event occurs, the system makes an HTTP request (usually a POST) to the URL you configured for the webhook. The request will include details of the event such as the incoming phone number or the body of an incoming message.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '201':
          description: Webhook created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Validation Error: rate_limit: greater than the maximum value of 10000'
      operationId: postV2Webhook
      x-operation-id-source: derived
    get:
      tags:
      - Webhook
      summary: Retrieve all webhooks
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: A list of webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
      operationId: getV2Webhook
      x-operation-id-source: derived
  /v2/webhook/{id}:
    get:
      tags:
      - Webhook
      summary: Get a webhook by ID
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        description: Unique ID of the webhook
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A single webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Webhook not found
      operationId: getV2WebhookById
      x-operation-id-source: derived
    put:
      tags:
      - Webhook
      summary: Update Webhook
      description: Updates the webhook. Any fields not provided in the request body will reset to their default values.
      security:
      - ApiKeyAuth: []
      parameters:
      - name: id
        in: path
        description: Unique identifier for the webhook
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '200':
          description: Webhook updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Validation Error: event_type: required'
      operationId: putV2WebhookById
      x-operation-id-source: derived
    delete:
      tags:
      - Webhook
      summary: Delete Webhook
      parameters:
      - name: id
        in: path
        schema:
          type: string
          format: uuid
        required: true
        description: Unique ID of the webhook
      responses:
        '200':
          description: Webhook deletion confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeleteResponse'
        '400':
          description: Invalid webhook ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid webhook ID
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Webhook not found
      operationId: deleteV2WebhookById
      x-operation-id-source: derived
components:
  schemas:
    EventType:
      type: string
      enum:
      - LINK_HIT
      - OPT_OUT
      - MMS_STATUS
      - SMS_INBOUND
      - SMS_STATUS
      - MMS_INBOUND
      - WHATSAPP_STATUS
      - WHATSAPP_INBOUND
      - RCS_STATUS
      - RCS_INBOUND
      description: 'Event type string values:

        - LINK_HIT: Link hit event when a recipient visits a tracked link

        - OPT_OUT: Opt out event when a recipient visits an opt-out link or by sending a message with the text "STOP"

        - MMS_STATUS: Status change for a MMS messages. Currently only comprised of internal statuses (sent, failed)

        - SMS_INBOUND: Inbound SMS sent from a recipient back to the sender

        - SMS_STATUS: Status change for a SMS message. Includes internal statuses (sent, failed) and delivery receipts (soft_bounce, hard_bounce, delivered, undelivered). Multiple status events can be triggered for a single message

        - MMS_INBOUND: Inbound MMS sent from a recipient back to the sender

        - WHATSAPP_STATUS: Status change for Whatsapp messages

        - WHATSAPP_INBOUND: Inbound Whatsapp sent from a recipient back to the sender

        - RCS_STATUS: Status change for RCS messages

        - RCS_INBOUND: Inbound RCS sent from a recipient back to the sender

        '
    Filter:
      type:
      - object
      - 'null'
      description: Filter applied to webhook events
      properties:
        event_type:
          type: array
          description: Types of events to subscribe to
          items:
            $ref: '#/components/schemas/EventType'
          example:
          - SMS_STATUS
          - SMS_INBOUND
        sender:
          type: array
          description: Filter by sender
          items:
            type: string
          example:
          - '+61412345678'
          - '+61487654321'
        status:
          type: array
          description: Filter by message status (only applicable for status events)
          items:
            type: string
          example:
          - DELIVERED
          - FAILED
        message_ref:
          type: array
          description: Filter by message ref
          items:
            type: string
          example:
          - ref123
          - ref456
        campaign_id:
          type: array
          description: Filter by campaign ID
          items:
            type: string
          example:
          - campaign_123
          - campaign_456
    WebhookResponse:
      type: object
      description: Webhook details.
      properties:
        id:
          type: string
          description: Unique identifier for the webhook.
          example: 67e3e4af-62e8-4515-8b67-6f20d0c51ffb
        filter:
          $ref: '#/components/schemas/Filter'
        name:
          type: string
          description: Name of the webhook.
          example: Hook
        url:
          type: string
          description: URL (https) that accepts JSON encoded POST requests.
          format: uri
          example: https://webhook.site/uuid
        rate_limit:
          type: integer
          description: Rate limit for the webhook in requests per second.
          example: 10
        is_sandbox:
          type: boolean
          deprecated: true
          description: Deprecated. Will be removed in a future version.
          example: false
        created_at:
          type: string
          format: date-time
          description: Timestamp when the webhook was created.
          example: '2025-04-14T00:59:32.75819Z'
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the webhook was last updated.
          example: '2025-04-14T00:59:32.75819Z'
      required:
      - id
      - name
      - url
      - rate_limit
      - is_sandbox
      - created_at
      - updated_at
    WebhookDeleteResponse:
      type: object
      description: Webhook deletion confirmation response.
      properties:
        message:
          type: string
          description: Confirmation message
          example: deleted
      required:
      - message
    WebhookListResponse:
      type: object
      description: List of webhooks response.
      properties:
        webhooks:
          type: array
          items:
            $ref: '#/components/schemas/WebhookResponse'
    WebhookRequest:
      type: object
      properties:
        event_type:
          allOf:
          - $ref: '#/components/schemas/EventType'
          description: Type of event to subscribe to. Deprecated - use filter.event_type instead.
          example: SMS_STATUS
          deprecated: true
        filter:
          type: object
          description: "Filter to apply to webhook events. The filters are applied differently based on the event type:\n- For status events (`SMS_STATUS`, `MMS_STATUS`, etc.): `sender`, `status`,\n  `message_ref`, and `campaign_id` filters are applied to the **status** payload.\n- For `LINK_HIT` events: `sender` and `message_ref` filters are applied to\n  the `source_message` in the link-hit payload.\n- For `OPT_OUT` events: `sender` and `message_ref` filters are applied to\n  the `source_message` in the opt-out payload.\n- For inbound events (`SMS_INBOUND`, `MMS_INBOUND`, etc.): `sender` filter is\n  applied to the `recipient` field (the sender address that received the inbound message),\n  while `message_ref` and `campaign_id` filters are applied to `last_message` if available.\n\nWithin each filter array (e.g., sender, status, message_ref), the conditions are combined using an OR logic. For example, if multiple senders are specified, the webhook will trigger if the event matches any of the specified senders. Between different filters (e.g., sender and status), the conditions are combined using an AND logic. For example, the webhook will trigger only if the event matches both the specified sender and the specified status."
          properties:
            event_type:
              type: array
              description: Types of events to subscribe to
              items:
                $ref: '#/components/schemas/EventType'
              example:
              - SMS_STATUS
              - SMS_INBOUND
            sender:
              type: array
              description: Filter by sender. For outbound events (status, link-hit, opt-out), this filters by the sender of the outbound message. For inbound events, this filters by the recipient of the inbound message (the sender address that received it).
              items:
                type: string
              example:
              - '+61412345678'
              - '+61487654321'
            status:
              type: array
              description: Filter by message status (only applicable for status events)
              items:
                type: string
              example:
              - DELIVERED
              - FAILED
            message_ref:
              type: array
              description: Filter by message ref
              items:
                type: string
              example:
              - ref123
              - ref456
            campaign_id:
              type: array
              description: Filter by campaign ID
              items:
                type: string
              example:
              - campaign_123
              - campaign_456
        name:
          type: string
          description: Name of the webhook
          minLength: 2
          maxLength: 100
          example: My Webhook
          x-oapi-codegen-extra-tags:
            valid: length(2|100)
        url:
          type: string
          description: URL (https) that accepts JSON encoded POST requests
          format: uri
          example: https://example.com/webhook
          x-oapi-codegen-extra-tags:
            valid: required,webhook_url
        rate_limit:
          type: integer
          description: Rate limit for your URL in requests per second. Max 10,000/sec. If set to 0 or not specified, the default system limit will be applied.
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            valid: range(0|10000)
        is_sandbox:
          type: boolean
          deprecated: true
          description: Deprecated. Will be removed in a future version.
          x-go-type-skip-optional-pointer: true
      required:
      - name
      - url
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: 'All API requests require your API credentials, you will find them once logged into your account on the SETTINGS page. Scroll down to API Settings to find your API key.

        '
